sudo: required
services: docker
language: bash
env:
    global:
        - QEMU_VER=v2.9.1-1
        - DOCKER_REPO=tiepie/ubuntu-build-environment
        - DATE=$(date +'%Y%m%d')
    matrix:
        - SUITE=bionic ARCH=amd64 QEMU_ARCH=x86_64
        - SUITE=bionic ARCH=arm64 QEMU_ARCH=aarch64
        - SUITE=bionic ARCH=armhf QEMU_ARCH=arm
        - SUITE=bionic ARCH=i386  QEMU_ARCH=i386

        - SUITE=disco ARCH=amd64 QEMU_ARCH=x86_64
        - SUITE=disco ARCH=arm64 QEMU_ARCH=aarch64
        - SUITE=disco ARCH=armhf QEMU_ARCH=arm
        - SUITE=disco ARCH=i386  QEMU_ARCH=i386

        - SUITE=eoan ARCH=amd64 QEMU_ARCH=x86_64
        - SUITE=eoan ARCH=arm64 QEMU_ARCH=aarch64
        - SUITE=eoan ARCH=armhf QEMU_ARCH=arm
        - SUITE=eoan ARCH=i386  QEMU_ARCH=i386

        - SUITE=focal ARCH=amd64 QEMU_ARCH=x86_64
        - SUITE=focal ARCH=arm64 QEMU_ARCH=aarch64
        - SUITE=focal ARCH=armhf QEMU_ARCH=arm

before_script:
    - sudo apt-get update -qq
    - sudo apt-get -y install qemu-user-static
script:
    - python build.py --date="$DATE" --arch="$ARCH" --suite="$SUITE" --qemu-version="$QEMU_VER" --qemu-arch="$QEMU_ARCH" --docker-repo="$DOCKER_REPO"
after_success:
    - if [[ $TRAVIS_PULL_REQUEST == 'false' ]]; then docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" && docker push $DOCKER_REPO:$ARCH-$SUITE && docker push $DOCKER_REPO:$ARCH-$SUITE-$DATE; fi
